<div>
  <button (click)='logout()'>
    Odjavi se
  </button>
</div>

<hr/>

<div>
  <label>Tekstrualna pretraga</label><br>
  <input type="text" id="name" name="name" [(ngModel)]="rawSearchParam">
</div>
<div>
  <input type="radio" id="a1" name="raw" value="A1" [(ngModel)]="rawSearchDoctype">
  <label for="a1">A1</label>

  <input type="radio" id="p1" name="raw" value="P1" [(ngModel)]="rawSearchDoctype">
  <label for="p1">P1</label>

  <input type="radio" id="z1" name="raw" value="Z1" [(ngModel)]="rawSearchDoctype">
  <label for="z1">Z1</label>

</div>
<div>
  <button (click)="rawSearch()" title="Pretrazi zahteve tekstualnom pretragom">
    Pretrazi zahteve
  </button>
</div>

<hr/>
<div>
  <label>Napredna pretraga</label><br>
  <select [(ngModel)]="metadataParamType1">
    <option *ngFor="let item of advSearchMetadataTypes[advancedSearchDoctype]; let i = index" [value]="item">{{item}}</option>
  </select>
  <input type="text" placeholder="Metapodatak1" [(ngModel)]="advancedSearchParam1">

  <select [(ngModel)]="selectedOperator">
    <option value="AND">AND</option>
    <option value="OR">OR</option>
    <option value="NOT">NOT</option>
  </select>
  <select [(ngModel)]="metadataParamType2">
    <option *ngFor="let item of advSearchMetadataTypes[advancedSearchDoctype]; let i = index" [value]="item">{{item}}</option>
  </select>
  <input type="text" placeholder="Metapodatak2" [(ngModel)]="advancedSearchParam2">
</div>
<div>
  <input type="radio" id="a11" name="advanced" value="A1" [(ngModel)]="advancedSearchDoctype">
  <label for="a11">A1</label>

  <input type="radio" id="p11" name="advanced" value="P1" [(ngModel)]="advancedSearchDoctype">
  <label for="p11">P1</label>

  <input type="radio" id="z11" name="advanced" value="Z1" [(ngModel)]="advancedSearchDoctype">
  <label for="z11">Z1</label>

</div>
<div>
  <button (click)="advancedSearch()" title="Pretrazi zahteve naprednom pretragom">
    Pretrazi zahteve
  </button>
</div>

<hr/>

<div>
  <label>Bezuslovna pretraga</label><br>
  <div>
    <input type="radio" id="a111" name="all" value="A1" [(ngModel)]="showAllDoctype">
    <label for="a111">A1</label>

    <input type="radio" id="p111" name="all" value="P1" [(ngModel)]="showAllDoctype">
    <label for="p111">P1</label>

    <input type="radio" id="z111" name="all" value="Z1" [(ngModel)]="showAllDoctype">
    <label for="z111">Z1</label>

  </div>
  <button (click)="showAllRequests()">
    Prikazi sve zahteve
  </button>
</div>

<hr/>

<div><h3>Rezultati pretrage</h3></div>
<div class="table-container">
  <table>
    <tr>
      <th>Zahtev u xml</th>
      <th>Zahtev u pdf</th>
      <th>Zahtev u xhtml</th>
      <th>Zahtev u rdf</th>
      <th>Zahtev u json</th>

      <th>Resenje u xml</th>
      <th>Resenje u pdf</th>
      <th>Resenje u xhtml</th>
      <th></th>
    </tr>
    <tr *ngFor="let item of requestsAndResolutions; let i = index">
      <td><a [href]="item.url + '/xml/' + item.request" target="_blank">{{ item.request }}</a></td>
      <td><a [href]="item.url + '/pdf/' + item.request" target="_blank">{{ item.request }}</a></td>
      <td><a [href]="item.url + '/xhtml/' + item.request" target="_blank">{{ item.request }}</a></td>
      <td><a [href]="item.url + '/rdf/' + item.request" target="_blank">{{ item.request }}</a></td>
      <td><a [href]="item.url + '/json/' + item.request" target="_blank">{{ item.request }}</a></td>
      <td><a [href]="item.url + '/xml/' + item.resolution" target="_blank">{{ item.resolution }}</a></td>
      <td><a [href]="item.url + '/pdf/' + item.resolution" target="_blank">{{ item.resolution }}</a></td>
      <td><a [href]="item.url + '/xhtml/' + item.resolution" target="_blank">{{ item.resolution }}</a></td>
      <td><button *ngIf="!item.hasDecision" (click)="makeDecision(item.request)">Napravi resenje</button></td>
    </tr>
  </table>
</div>

<div>
  <button (click)="clearTable()">
    Ocisti tabelu
  </button>
</div>

