<div class="gray-background">
  <h2>Zahtev za priznavanje žiga</h2>

  <h3>Podaci o podnosiocu zahteva</h3>
      

        <mat-radio-group [(ngModel)]="zahtevDTO.podnosilac.tipLica">
          <mat-radio-button value="fizickoLice">Podnosilac je fizičko lice</mat-radio-button>
          <mat-radio-button value="pravnoLice">Podnosilac je pravno lice</mat-radio-button>
        </mat-radio-group>

        <div *ngIf="zahtevDTO.podnosilac.tipLica == 'fizickoLice'">
          <p>
            
              <label>Ime podnosioca</label>
              <input matInput [(ngModel)]="zahtevDTO.podnosilac.ime" placeholder="Ime"
                     [required]="zahtevDTO.podnosilac.tipLica == 'fizickoLice'">
            

            
              <label>Prezime podnosioca</label>
              <input matInput [(ngModel)]="zahtevDTO.podnosilac.prezime" placeholder="Prezime"
                     [required]="zahtevDTO.podnosilac.tipLica == 'fizickoLice'">
            
          </p>
        </div>

        <div *ngIf="zahtevDTO.podnosilac.tipLica == 'pravnoLice'">
          <p>
            
              <label>Poslovno ime</label>
              <input matInput [(ngModel)]="zahtevDTO.podnosilac.poslovnoIme" placeholder="Poslovno ime"
                     [required]="zahtevDTO.podnosilac.tipLica == 'pravnoLice'">
            
          </p>
        </div>
        <div>
        <p>
          
            <label>Ulica</label>
            <input matInput [(ngModel)]="zahtevDTO.podnosilac.adresa.ulica" placeholder="Ulica" required>
          

          
            <label>Broj</label>
            <input matInput [(ngModel)]="zahtevDTO.podnosilac.adresa.broj" placeholder="Broj" required>
          

          
            <label>Poštanski broj</label>
            <input matInput [(ngModel)]="zahtevDTO.podnosilac.adresa.postanskiBroj" placeholder="Poštanski broj" required>
          

          
            <label>Mesto</label>
            <input matInput [(ngModel)]="zahtevDTO.podnosilac.adresa.mesto" placeholder="Mesto" required>
          
        </p>

        <p>
          
            <label>Telefon</label>
            <input matInput [(ngModel)]="zahtevDTO.podnosilac.kontakt.telefon" placeholder="Telefon" required>
          

          
            <label>Email adresa</label>
            <input matInput [(ngModel)]="zahtevDTO.podnosilac.kontakt.email" placeholder="Email adresa" required>
          

          
            <label>Faks</label>
            <input matInput [(ngModel)]="zahtevDTO.podnosilac.kontakt.faks" placeholder="Faks" required>
          
        </p>
        </div>
        
   
      <h3>Podaci o punomoćniku</h3>
      

        <mat-radio-group [(ngModel)]="zahtevDTO.punomocnik.tipLica">
          <mat-radio-button value="fizickoLice">Punomoćnik je fizičko lice</mat-radio-button>
          <mat-radio-button value="pravnoLice">Punomoćnik je pravno lice</mat-radio-button>
        </mat-radio-group>

        <div *ngIf="zahtevDTO.punomocnik.tipLica == 'fizickoLice'">
          <p>
            
              <label>Ime podnosioca</label>
              <input matInput [(ngModel)]="zahtevDTO.punomocnik.ime" placeholder="Ime"
                     [required]="zahtevDTO.punomocnik.tipLica == 'fizickoLice'">
            

            
              <label>Prezime podnosioca</label>
              <input matInput [(ngModel)]="zahtevDTO.punomocnik.prezime" placeholder="Prezime"
                     [required]="zahtevDTO.punomocnik.tipLica == 'fizickoLice'">
            
          </p>
        </div>

        <div *ngIf="zahtevDTO.punomocnik.tipLica == 'pravnoLice'">
          <p>
            
              <label>Poslovno ime</label>
              <input matInput [(ngModel)]="zahtevDTO.punomocnik.poslovnoIme" placeholder="Poslovno ime"
                     [required]="zahtevDTO.punomocnik.tipLica == 'pravnoLice'">
            
          </p>
        </div>

        <p>
          
            <label>Ulica</label>
            <input matInput [(ngModel)]="zahtevDTO.punomocnik.adresa.ulica" placeholder="Ulica" required>
          

          
            <label>Broj</label>
            <input matInput [(ngModel)]="zahtevDTO.punomocnik.adresa.broj" placeholder="Broj" required>
          

          
            <label>Poštanski broj</label>
            <input matInput [(ngModel)]="zahtevDTO.punomocnik.adresa.postanskiBroj" placeholder="Poštanski broj" required>
          

          
            <label>Mesto</label>
            <input matInput [(ngModel)]="zahtevDTO.punomocnik.adresa.mesto" placeholder="Mesto" required>
          

        </p>

        <p>
          
            <label>Telefon</label>
            <input matInput [(ngModel)]="zahtevDTO.punomocnik.kontakt.telefon" placeholder="Telefon" required>
          

          
            <label>Email adresa</label>
            <input matInput [(ngModel)]="zahtevDTO.punomocnik.kontakt.email" placeholder="Email adresa" required>
          

          
            <label>Faks</label>
            <input matInput [(ngModel)]="zahtevDTO.punomocnik.kontakt.faks" placeholder="Faks" required>
          
        </p>

        
          <label>Dokaz o punomoćju</label>
          <select [(ngModel)]="statusPunomocja" required >
            <option value="NIJE_PREDATO">Želim sada da priložim</option>
            <option value="PREDATO_RANIJE">Predato ranije</option>
            <option value="BICE_NAKNADNO_PREDATO">Biće predato kasnije</option>
          </select>
        

        <div *ngIf="statusPunomocja == 'NIJE_PREDATO'">
          <label>
            Priložite ugovor o punomoćju u PDF formatu.
            <input #fileUploaderPunomocje type="file" (input)="selectPunomocjeUpload($event)" accept="application/pdf"/>
          </label>
        </div>

      

      <h3>Podaci o predstavniku</h3>
      

        <mat-radio-group [(ngModel)]="zahtevDTO.predstavnik.tipLica">
          <mat-radio-button value="fizickoLice">Predstavnik je fizičko lice</mat-radio-button>
          <mat-radio-button value="pravnoLice">Predstavnik je pravno lice</mat-radio-button>
        </mat-radio-group>

        <div *ngIf="zahtevDTO.predstavnik.tipLica == 'fizickoLice'">
          <p>
            
              <label>Ime podnosioca</label>
              <input matInput [(ngModel)]="zahtevDTO.predstavnik.ime" placeholder="Ime"
                     [required]="zahtevDTO.predstavnik.tipLica == 'fizickoLice'">
            

            
              <label>Prezime podnosioca</label>
              <input matInput [(ngModel)]="zahtevDTO.predstavnik.prezime" placeholder="Prezime"
                     [required]="zahtevDTO.predstavnik.tipLica == 'fizickoLice'">
            
          </p>
        </div>

        <div *ngIf="zahtevDTO.predstavnik.tipLica == 'pravnoLice'">
          <p>
            
              <label>Poslovno ime</label>
              <input matInput [(ngModel)]="zahtevDTO.predstavnik.poslovnoIme" placeholder="Poslovno ime"
                     [required]="zahtevDTO.predstavnik.tipLica == 'pravnoLice'">
            
          </p>
        </div>

        <p>
          
            <label>Ulica</label>
            <input matInput [(ngModel)]="zahtevDTO.predstavnik.adresa.ulica" placeholder="Ulica" required>
          

          
            <label>Broj</label>
            <input matInput [(ngModel)]="zahtevDTO.predstavnik.adresa.broj" placeholder="Broj" required>
          

          
            <label>Poštanski broj</label>
            <input matInput [(ngModel)]="zahtevDTO.predstavnik.adresa.postanskiBroj" placeholder="Poštanski broj" required>
          

          
            <label>Mesto</label>
            <input matInput [(ngModel)]="zahtevDTO.predstavnik.adresa.mesto" placeholder="Mesto" required>
          
        </p>

        <p>
          
            <label>Telefon</label>
            <input matInput [(ngModel)]="zahtevDTO.predstavnik.kontakt.telefon" placeholder="Telefon" required>
          

          
            <label>Email adresa</label>
            <input matInput [(ngModel)]="zahtevDTO.predstavnik.kontakt.email" placeholder="Email adresa" required>
          

          
            <label>Faks</label>
            <input matInput [(ngModel)]="zahtevDTO.predstavnik.kontakt.faks" placeholder="Faks" required>
          
        </p>

      

      <h3>Podaci o žigu</h3>
      
        
          <label>Vrsta žiga</label>
          <select [(ngModel)]="zahtevDTO.vrstaZiga" required> <!--(change)="onPravoPrvenstvaSelectionChange($event.value)">-->
            <option value="Individualni žig">Individualni žig</option>
            <option value="Kolektivni žig">Kolektivni žig</option>
            <option value="Žig garancije">Žig garancije</option>
          </select>
        

        <div *ngIf="zahtevDTO.vrstaZiga == 'Kolektivni žig' || zahtevDTO.vrstaZiga == 'Žig garancije'">
          <label>
            Priložite opšti akto žigu u PDF formatu.
            <input #fileUploaderOpstiAkt type="file" (input)="selectOpstiAktUpload($event)" accept="application/pdf"/>
          </label>
        </div>

        
          <label>Format žiga</label>
          <select [(ngModel)]="zahtevDTO.formatZiga" required>
            <option value="Verbalni znak">Verbalni znak</option>
            <option value="Grafički znak">Grafički znak</option>
            <option value="Kombinovani znak">Kombinovani znak</option>
            <option value="Trodimenzionalni znak">Trodimenzionalni znak</option>
            <option value="Druga vrsta znaka">Druga vrsta znaka</option>
          </select>
        

        <div *ngIf="zahtevDTO.formatZiga == 'Druga vrsta znaka'">
          <p>
            
              <label>Opis znaka</label>
              <input matInput [(ngModel)]="zahtevDTO.opis" placeholder="Opis znaka"
                     [required]="zahtevDTO.izgledZiga == 'Druga vrsta znaka'">
            
          </p>
        </div>

        <label>
          Priložite željeni izgled znaka u PNG formatu.
          <input #fileUploaderPrimerakZnaka type="file" (input)="selectPrimerakZnakaUpload($event)" accept="image/png"/>
        </label>

        <p>
          
            <label>Boje znaka</label>
            <input matInput [(ngModel)]="zahtevDTO.boje" placeholder="Boje znaka">
          
        </p>

        <p>
          
            <label>Transliteracija znaka</label>
            <input matInput [(ngModel)]="zahtevDTO.transliteracija" placeholder="Transliteracija znaka">
          
        </p>

        <p>
          
            <label>Prevod znaka</label>
            <input matInput [(ngModel)]="zahtevDTO.prevod" placeholder="Prevod znaka">
          
        </p>

        <p>
          
            <label>Opis znaka</label>
            <input matInput [(ngModel)]="zahtevDTO.opis" placeholder="Opis znaka">
          
        </p>
      

      <h3>Klase</h3>
      

        <p>
          
            <input matInput [(ngModel)]="zahtevDTO.klase" placeholder="Klase za koje ćete koristiti žig">
          
        </p>

        <label>
          Priložite detaljan spisak robe i usluga u PDF formatu.
          <input #fileUploaderSpisakRobeIUsluga type="file" (input)="selectSpisakRobeIUslugaUpload($event)" accept="application/pdf"/>
        </label>

      

      <h3>Zatraženo pravo prvenstva i osnov</h3>
      

        
          <label>Zatraženo pravo prvenstva</label>
          <select [(ngModel)]="zahtevDTO.pravoPrvenstva"> <!--(change)="onPravoPrvenstvaSelectionChange($event.value)">-->
            <option value="">Nijedno</option>
            <option value="KONVENCIJSKO">Sajamsko pravo</option>
            <option value="SAJAMSKO">Konvencijsko pravo</option>
          </select>
        

        <div *ngIf="zahtevDTO.pravoPrvenstva == 'KONVENCIJSKO' || zahtevDTO.pravoPrvenstva == 'SAJAMSKO'">
          <label>
            Priložite dokaz o pravu prvenstva u PDF formatu.
            <input #fileUploaderDokazOPravuPrvenstva type="file" (input)="selectDokazOPravuPrvenstvaUpload($event)" accept="application/pdf"/>
          </label>
        </div>

      

      <h3>Ostali prilozi</h3>
      

        <label>
          Priložite dokaz o uplati takse u PDF formatu.
          <input #fileUploaderDokazOUplatiTakse type="file" (input)="selectDokazOUplatiTakseUpload($event)" accept="application/pdf"/>
        </label>

      


  <button style="width: 100%; margin-top: 10px" color="primary" (click)="podnesiZahtev()" raised-button>
    Podnesi zahtev
  </button>
  <p *ngIf="!valid">Molimo da popunite sva obazna polja.</p>
</div>
